{% extends "base.html" %}

{% block content %}
	<h1>Change Password</h1>
	<br>
	<br>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8 img img-rounded box-shad edit-color" style="border: 1px solid grey">
			<br>
			<form action="/change-password/" method="post">{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputEmail1">Current Password</label>
					<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Current Password" name="password">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">New Password</label>
					<input type="password" class="form-control" id="exampleInputEmail1" placeholder="New Password" name="password1">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Password Again</label>
					<input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password Again" name="password2">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<a class="btn btn-danger" href="/profile" style="width:100px;position:relative;left:50px;">Back</a>
			</form>
			<br>
		</div>
	</div>
{% endblock %}