{% extends "base.html" %}

{% block content %}
  <br>
  <div class="row">
    <div class="col-lg-10">
      <h2 style="color:#9932CC">Search By Location</h2>
    </div>
  </div>
  <br>

  <div style="">
    <div class="row" style="margin-left:10px;margin-right:-100px;">


      {% for list in job_location %}
        <a class="job-box" href="{% url 'home_one' list.slug %}">
          <div class="col-lg-3 img img-rounded box-shad box-color" style="border:1px solid;margin-right:97px;margin-bottom:50px;height:200px;">
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left">
                  {{ list.location }}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-right">
                  {{ list.date }}
                </div>
              </div>
            </div>
            <br>
            <div class="text-font">
              {{ list.headline }}
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <div class="pull-right">
                  {{ list.company }}
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>
  </div>
{% endblock %}