{% extends "base.html" %}

{% block content %}
	<h1>Sign Up</h1>

	<br>
	<div class="row">
		<div class="col-lg-5 img img-rounded box-shad auth-color" style="border: 1px solid grey;margin-right:-50px;">
			<div class="col-lg-12 img img-rounded" style="background-color:#0000FF;color:white;">
				<h3>Employer Signup</h3>
			</div>
			<br><br><br>
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">First Name</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Last Name</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<!-- <div class="checkbox">
					<label>
						<input type="checkbox" value="">
						If you are an Employer
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						If you are an Employee
					</label>
				</div> -->
				<button type="submit" class="btn btn-info">Submit</button>
			</form>
			<br>
		</div>

		<div class="col-lg-offset-1 col-lg-1 img img-circle or-signup">
			<h2>OR</h2>
		</div>

		<div class="col-lg-5 img img-rounded box-shad auth-color" style="border: 1px solid grey">
			<div class="col-lg-12 img img-rounded" style="background-color:#0000FF;color:white;">
				<h3>Employee Signup</h3>
			</div>
			<br><br><br>
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">First Name</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Last Name</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<!-- <div class="checkbox">
					<label>
						<input type="checkbox" value="">
						If you are an Employer
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						If you are an Employee
					</label>
				</div> -->
				<button type="submit" class="btn btn-info">Submit</button>
			</form>
			<br>
		</div>

	</div>
	<br><br><br>
{% endblock %}