@font-face { 
	font-family: 'GoodFootRegular';
	src: url('goodfoot.eot');
	src: local('Good Foot'), local('GoodFoot'), url('goodfoot.woff') format('woff'), url('goodfoot.ttf') format('truetype');
}

.text-font { 
	font:21px bolder normal GoodFootRegular;
}

.backimg {
	 background-image: url(../images/1.jpg);
	 position: absolute;
	 left: 0px;
	 right: auto;
	 /*width: 1500px;
	 height: 200px;*/
}

.nav-box {
	position: relative;
	top: -22px;
	left: -4px;
	margin-right: -10px;
	background-color: #DBFFFF;
	-moz-box-shadow: 0px 1px 13px #000000;
	-webkit-box-shadow: 0px 1px 13px #000000;
	box-shadow: 0px 1px 13px #000000;
}

.box-shad {
	-moz-box-shadow: 0px 1px 13px #000000;
	-webkit-box-shadow: 0px 1px 13px #000000;
	box-shadow: 0px 1px 13px #000000;
}

.box-color {
	background-color: #E5FFC7;
}

.edit-color {
	background-color: #BCC5FF;
}

.auth-color {
	background-color: #F0E68C;
}

.name-box {
	/*border: 1px solid;*/
}

.or-signup {
	position: relative;
	top: 200px;
	margin-right: 50px;
	text-align: center;
	background-color: #2E8B57;
	color: white;
}

.job-box {
	color: #333;
}